body {
    margin: 40px auto;
    padding: 0 80px;
    max-width: 960px;
    font: 400 18px/1.6 "Sorts Mill Goudy", Georgia, Cambria, "Times New Roman", Times, serif;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}
::selection {
    background: #57a3e8;
    color: #fff;
    text-shadow: none;
}
.navback {
    background-color: #eee;
    width: 100%;
    height: 110%;
    position: absolute;
    right: 100%;
    margin-right: 25px;
    margin-top: -40px;    
}
nav {
    /* use translate3d to force antialiasing on chrome */
    transform: rotate(90deg) translate3d(0,0,0);
    transform-origin: top left;
    position: absolute;
    margin-left: -22px;
    z-index: 100;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    color: #0067C7;
    -webkit-transition: color .3s;
    transition: color .3s;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #57a3e8;    
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    letter-spacing: -1px;
    line-height: 1;
}
p {
    margin: 0 0 1em;
}
pre, :not(pre) > code {
    color: #000;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 80%;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px 0 1px 5px;
    border-color: #ddd;
    padding: 10px 15px;    
}
:not(pre) > code {
    color: #7A95C5;
    background-color: #EDF4FF;
    border-color: #CFDBF1;
    border-right-width: 1px;
    padding: 0 3px;
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
