<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link href="//fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,700,400italic|Ubuntu+Mono:400,700,400italic,700italic|Open+Sans:700,400&amp;subset=latin,latin-ext" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
	<nav>
		<ul>
  		<li><a href="/">Home</a></li>
    	<li><a href="/about">About</a></li>
  		<li><a href="/blog">Blog</a></li>
  	</ul>
	</nav>
	<div class="container">
	  {{ content }}
	</div>
	<footer>
  	<ul>
  		<li><a href="mailto:acat@acatalept.com">email</a></li>
	  </ul>
	</footer>
</body>
</html>
