<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,700,400italic,700italic|Inconsolata:400,700|Lato:300,400,700,900|Open+Sans:700,400,700italic,400italic&amp;subset=latin,latin-ext" rel="stylesheet">
	<link id="stylesheetMain" rel="stylesheet" type="text/css" href="/css/light.css">
</head>
<body>
	<nav>
		<ul>
  		<li><a href="/">acatalept</a></li>
  		<li><a href="/projects">projects</a></li>
  		<li><a href="/music">music</a></li>
  		<li><a href="/contact">contact</a></li>
  		<li><a href="/blog">blog</a></li>
      <li class="cssToggle" onClick="stylesheetToggle();"></li>
  	</ul>
    <!--<div class="cssToggle"></div>-->
	</nav>
	<div class="container">
		<div class="navback"></div>
		{{ content }}
	</div>
	<footer>
  	<ul>
  		<li><a href="mailto:acat@acatalept.com">email</a></li>
	  </ul>
	</footer>
</body>

<script type="text/javascript">
function stylesheetToggle() {
  var a = document.getElementById("stylesheetMain");
  a.x = 'dark' == a.x ? 'light' : 'dark'; // short if
  a.href = '/css/' + a.x + '.css';
}
</script>
</html>
